@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light mode styles */
:root {
  --text-primary: #1a202c;
  --text-secondary: #4a5568;
  --bg-primary: #e2e8f0f5;    /* Changed from f7fafc to a darker shade */
  --bg-secondary: #d5dbe2;  /* Changed from edf2f7 to a darker shade */
}

/* Dark mode styles */
:root[class~="dark"] {
  --text-primary: #f7fafc;
  --text-secondary: #e2e8f0;
  --bg-primary: #1a202c;
  --bg-secondary: #2d3748;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  transition: color 0.3s, background-color 0.3s;
}

/* Smooth transitions */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}